{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}

<div class="container text-center">
    <h1>This is my projects page!</h1>
</div>

<hr>

<div class="d-flex p-2 bd-highlight">
{% for project in projects %}

<div class="container text-center">
    <h2>{{ project.title }}</h2>
    <p>{{ project.description|safe }}</p>
    <a href="{{ project.url}}">
        <img src="{{ project.image.url }}" height=195 width=300>
    </a>
    {% if project.url %}
    <br>
    <a href="{{ project.url }}" class="link-dark">Link to GitHub</a>
    {% endif %}
    <br>
</div>

{% endfor %}
</div>

<br>
<br>

<div class="container text-center">
    <a href="{% static 'portfolio/GitHub_Links.pdf' %}" class="btn btn-dark">GitHub Links</a>
    <a href="{% static 'portfolio/GitHub_Links.pdf' %}">
        <img src="{% static 'portfolio/pdf_file_icon.jpg' %}" height=32 width=32>
    </a>
</div>

{% endblock %}


