{% extends 'portfolio/base.html' %}

{% block content %}

<div class="container text-center">

    <h1>News blog</h1>
    <h2>There is useful links and its' description</h2>
    <br>
</div>

<h2>I has written {{ blogs.count}} blog{{ blogs.count|pluralize }}</h2>

{% for b in blogs %}

<a href="{% url 'blog:detail' b.id %}"><h2 style="color:Blue">{{ b.title }}</h2></a>
<p style="color:Grey">{{ b.date|date:'M d Y' }}</p>
<p>{{ b.description|safe|truncatechars:150 }}</p>
<br>
Источник: <a href="{{ b.url }}"><p>{{ b.url }}</p></a>

<br>

{% endfor %}

<a href="{% url 'home' %}" class="btn btn-primary">Back to portfolio</a>

{% endblock %}